<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>


<body>
  <%- include('./partials/nav.ejs') %>    

    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Story</h2>
            <p>Welcome to our blog! We are passionate about sharing knowledge and insights on various topics. Our journey started with a simple idea to create a platform where people can come together to learn and grow.</p>
        </section>
        <section>
            <h2>Our Mission</h2>
            <p>Our mission is to provide valuable content that inspires and educates our readers. We believe in the power of information and aim to make it accessible to everyone.</p>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
